<body class="container">
   
    <br>
    <h1 >MEAN Stack Project</h1>

    <hr>
    <app-demo (Myevent) = "data = $event"></app-demo>
    <br>
    <br>

    
<table class="table table-striped" align="center">
	<thead>
		<tr>
            <h2>
			<th scope="col">#</th>
			<th scope="col">Batch</th>
			<th scope="col">Fees</th>
        </h2>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let values of data; index as i">
			<h2><th scope="row">{{ i }}</th>
			<td>{{ values.Batch }}</td>
			<td>{{ values.Fees }}</td>
        </h2>
        </tr>
	</tbody>
</table>


</body>


<router-outlet></router-outlet>

